<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{% block title %}Colcot{% endblock %}</title>
        <link rel="icon" type="image/png" href="/images/logo-onglet.png">
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/login.css">
        {% endblock %}

        {% block javascripts %}
            <script src="javascript/base.js"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

{% block body %}
    <div class="form-container">
        <div class="logo-container">
            <a href="/">
                <img src="images/login/Logo.svg" alt="Logo-colcot">
            </a>
        </div>

        <div class="formWrapper">
            <form method="post" class="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="account-part">
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Nom d'utilisateur" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
                    <a class="forget-text" href="#"> Mot de passe oublié ?</a>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="bottom-form">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>

                <div class="bottom">
                    <br><hr class="solid">
                    <p class="bottom-text">Pas encore inscrit ?</p>
                    <a class="register-button" href="/register">Se créer un compte</a>
                </div>

                <div class="bottom-mobile">
                    <a class="register-text" href="/register">Créer un compte</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>

